* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
.btn-sign {
    color: #3011BC;
    border-top: 1px solid #3011BC;
    border-left: 1px solid#3011BC;
    
}

.btn-sign:hover {
    background-color: #3011BC;
    color: white;
}

.discover-text {
    color: #3011bc;
}

.mail-tabs {
    color: #607080;
}

.h1-main {
    padding: 5rem 3rem 0rem 8rem;
}

.nav-item .nav-link:active i {
    color: orange;
}
body {
    overflow-x: hidden;
}

#nav-tab {
    color: orange !important;
}

.bg-gradient{
    background: linear-gradient(90deg, #3011bc, #7e11bc)!important;
   
}

.mini-nav{
    color: rgba(0, 0, 0, 0.322);
}

.travella-logo1 {
    width: 142.61px;
    height: 41.45px;
}

.search-button {
    background-color: orange;
    color: white;
}
.search-button:hover {
    background-color:  darkorange;
    color: white;
}

.search-button2 {
    background-color: orange;
    color: white;
}

.search-button2:hover {
 background-color: darkorange !important;
 color: white;
}

.search-button3 {
 background-color: orange;
 color: white;
}

.search-button3:hover {
    background-color: darkorange;
    color: white;
}

.cards-wrapper {
    display: flex !important;
}

.bg-secondary {
    background-color: orange !important;
}


body {
    background-color: rgb(255, 255, 255);
}

.conta {
    margin: 0px auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(8, 1fr);
    gap: 0.25rem;

}

.kisim1 {
    grid-column: 1/4;
    padding-left: 9rem;

}

.kisim2 {
    grid-column: 4/6;
}

.kisim3 {
    grid-column: 6/8;

}

.kisim4 {
    grid-column: 2/4;
}

.kisim5 {
    grid-column: 4/6;
}

.kisim6 {
    grid-row: 2/4;
    grid-column: 6/8;
    display: grid;
}

.kisim7 {
    grid-column: 2/4;
}

.kisim8 {
    grid-column: 4/6;
}

.kisimsag {
    grid-column: 8;
    grid-row: 1/5;
}
.resim-paragrafi {
    position: absolute;
    margin-top: 20rem;
    margin-left: 1rem;
    color: white;
}

.resim-paragrafi-2 {
    position: absolute;
    margin-top: 22rem;
    margin-left: 2.1rem;
    color: white;
    font-size: small;
}

.resim-image {
    position: absolute;
    margin-top: 22.2rem;
    margin-left: 1rem;

}

.bg-orange-gradient {
    background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,1) 19%, rgba(252,176,69,1) 100%);
}

element{
    background-image: url(/assets/img/burj.jpg);
    background-position-x:center ;
    background-position-y: top;
}

.bg-holder {
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}

.text-primary{
    color: darkblue !important;
}

.bg-primary{
    background-color: greenyellow !important;
}

h4{
    color: darkblue !important;
}